@use "../abstracts/" as a;

.testimonials {
  background-color: rgba(0, 0, 0, 0.909);
  height: auto;
  padding-bottom: 12rem;
  margin-bottom: 0;

  h1 {
    @media (max-width: 500px) {
      font-size: 1.8rem !important;
    }
  }
  h4 {
    @media (max-width: 500px) {
      font-size: 1rem !important;
    }
  }
}
.h-testimonials-container {
  @include a.flex();
  flex-wrap: wrap;
  padding: 1rem 2rem;
  gap: 1rem;
  text-align: center;
}
.h-testimonial {
  position: relative;
  border: 1px solid black;
  padding: 2rem;
  box-shadow: 0 0 10px -4px black;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid a.$dark-clr-a;
    margin: auto;
    position: relative;
  }
  .border {
    @include a.absolute(transparent);
    transition: 0.6s;
  }
  .border::after {
    @include a.absolute(rgb(253, 45, 4));
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: 0;
    top: 20%;
    left: unset;
  }
  .h-content {
    @include a.flex(column);
    @include a.absolute(transparent);
    width: 90%;
    left: 5%;
    margin: auto !important;
    text-align: center;
    line-height: 1.5;
    color: rgb(255, 230, 230);
    visibility: hidden;

    h3 {
      color: black;
      font-size: 1.3rem;
    }
  }
  .h-cover {
    width: 200px;
    .name {
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
    }
    .country {
      font-style: italic;
      color: gray;
    }
  }
}

.h-testimonial:hover .border {
  transform: rotate(90deg);
}

.h-btn {
  padding: 0.5rem 2.35rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.4rem;
}
.h-btn::after {
  @include a.absolute(transparent);
  box-sizing: border-box;
  border-radius: 0.4rem;
  border: 7px solid rgba(65, 213, 213, 0.694);
  animation: blink 0.5s infinite linear;
}
@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
